<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.ItemMapper">

	<select id="selectOne" resultType="co.rny.vo.ItemVO">
		select 	*
		from		tbl_item
		where 	item_no = #{itemNo}		
		and			is_disabled = 0
	</select>
	
	<select id="selectList" >
        select 
        		a.item_no item_no
				,a.item_name item_name
				,a.item_price item_price
				,a.item_image item_image
				,a.line_no line_no
        from
        (
            select 	 i.item_no
                    ,i.item_name
                    ,i.item_price
                    ,i.item_image
                    ,l.line_no
            from	tbl_item    i
            join    tbl_line    l
            on      i.line_no = l.line_no
            where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
            and     i.is_disabled = 0
            and     l.is_disabled = 0
            order by i.line_no
        )a
        <![CDATA[
        where rownum <= 8					
        ]]>						
	</select>
	
	
	<sql id="selectLine">
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
			item_no like '%' || #{keyword} || '%'
			</when>
			<otherwise>
			1 = 1
			</otherwise>
		</choose>	
	</sql>

	
	<select id="selectLinePaging" parameterType="co.rny.common.SearchVO">
		select b.*
		from	
				(select		rownum rn
									,a.item_no item_no
									,a.item_name item_name
									,a.item_price item_price
									,a.item_image item_image
									,a.line_no line_no
        from
        (
            select 	 i.item_no
                    ,i.item_name
                    ,i.item_price
                    ,i.item_image
                    ,l.line_no
            from	tbl_item    i
            join    tbl_line    l
            on      i.line_no = l.line_no
            where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
            and     i.is_disabled = 0
            and     l.is_disabled = 0
            order by i.line_no
        )a )b
        where b.rn > (#{page} - 1) * 8
        <![CDATA[
        and   b.rn <= (#{page} * 8)
        ]]>	
  </select>
	
	
	<select id="selectListSearched" parameterType="co.rny.common.SearchVO" >
				select 	*
				from		tbl_item
				where 	item_name like '%${keyword}%'		
				and			is_disabled = 0
			    
	</select>	
	
	<!-- 
	<select id="selectListSearched" parameterType="String">
				select 	*
				from		tbl_item
				where 	item_name like '%${keyword}%'		
				and			is_disabled = 0
        <![CDATA[
        and 		rownum <= 8					
        ]]>				    
	</select>	
	 -->
	
	<select id="selectListRelated" >
            select b.*
            from (select rownum rn, a.*
                      from    (select *
                               from tbl_item
                               <include refid="selectCondition"></include>
                               order by item_no desc) a ) b
            where b.rn > (#{page} - 1) * 8
            <![CDATA[
            and   b.rn <= (#{page} * 8)
            ]]>
	</select>	
	<select id="selectItemRelated" >
		select 	*
		from		tbl_item
		where 	line_no between (
                    select  floor(line_no / 100) * 100
                    from    tbl_item
                    where   item_no = #{itemNO}     
                ) and (
                    select  (floor(line_no / 100) + 1) * 100
                    from    tbl_item
                    where   item_no = #{itemNO}             
                )
		and			is_disabled = 0
    <![CDATA[
    and rownum <= 4					
    ]]>        
	</select>	


	<sql id="selectCondition">
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
			item_name like '%' || #{keyword} || '%'
			</when>
			<otherwise>
			1 = 1
			</otherwise>
		</choose>	
	</sql>

	<!-- select id="selectListPaging" parameterType="int"-->
	<select id="selectListPaging" parameterType="co.rny.common.SearchVO">
            select b.*
            from (select rownum rn, a.*
                      from    (select *
                               from tbl_item
                               <include refid="selectCondition"></include>
                               order by item_no desc) a ) b
            where b.rn > (#{page} - 1) * 8
            <![CDATA[
            and   b.rn <= (#{page} * 8)
            ]]>
  </select>

	<!-- 페이징 계산용 전체 건수. -->
	<select id="selectTotalCount" parameterType="co.rny.common.SearchVO">
		select count(1)	
		from tbl_item
    <include refid="selectCondition"></include>
  </select>
	<select id="selectTotalCountLine" parameterType="co.rny.common.SearchVO">
select 	count(1)	
from		tbl_item    i
join    tbl_line    l
on      i.line_no = l.line_no
where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
order by i.line_no
  </select>
	
</mapper>