<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.ItemMapper">

	<insert id="insertItem">
		insert into tbl_item(
				item_no
				,line_no
				,item_code
				,item_name
				,item_desc
				,item_price
				,item_stock
				,item_image
		)values(
				seq_item_no.nextval,
				#{lineNo},
				#{itemCode},
				#{itemName},		
				#{itemDesc},		
				#{itemPrice},		
				#{itemStock},		
				#{itemImage}		
		)
	</insert>

	<select id="selectOne" resultType="co.rny.vo.ItemVO">
		select 	*
		from		tbl_item
		where 	item_no = #{itemNo}		
		and			is_disabled = 0
	</select>
	
	<select id="selectOneAll" resultType="co.rny.vo.ItemVO">
		select 	*
		from		tbl_item
		where 	item_no = #{itemNo}		
	</select>
	
	<select id="selectList" >
        select 
        		a.item_no item_no
				,a.item_name item_name
				,a.item_price item_price
				,a.item_image item_image
				,a.line_no line_no
        from
        (
            select 	 i.item_no
                    ,i.item_name
                    ,i.item_price
                    ,i.item_image
                    ,l.line_no
            from	tbl_item    i
            join    tbl_line    l
            on      i.line_no = l.line_no
            where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
            and     i.is_disabled = 0
            and     l.is_disabled = 0
            order by i.line_no
        )a
        <![CDATA[
        where rownum <= 8					
        ]]>						
	</select>
	
	
	<sql id="selectLine">
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
			item_no like '%' || #{keyword} || '%'
			</when>
			<otherwise>
			1 = 1
			</otherwise>
		</choose>	
	</sql>

	
	<select id="selectLinePaging" parameterType="co.rny.common.SearchVO">
		select b.*
		from	
				(select		rownum rn
									,a.item_no item_no
									,a.item_name item_name
									,a.item_price item_price
									,a.item_image item_image
									,a.line_no line_no
        from
        (
            select 	 i.item_no
                    ,i.item_name
                    ,i.item_price
                    ,i.item_image
                    ,l.line_no
            from	tbl_item    i
            join    tbl_line    l
            on      i.line_no = l.line_no
            where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
            and     i.is_disabled = 0
            and     l.is_disabled = 0
            order by i.line_no
        )a )b
        where b.rn > (#{page} - 1) * 8
        <![CDATA[
        and   b.rn <= (#{page} * 8)
        ]]>	
  </select>
	
	
	<select id="selectListSearched" parameterType="co.rny.common.SearchVO" >
				select 	*
				from		tbl_item
				where 	item_name like '%${keyword}%'		
				and			is_disabled = 0
			    
	</select>	
	
	<!-- 
	<select id="selectListSearched" parameterType="String">
				select 	*
				from		tbl_item
				where 	item_name like '%${keyword}%'		
				and			is_disabled = 0
        <![CDATA[
        and 		rownum <= 8					
        ]]>				    
	</select>	
	 -->
	
	<select id="selectListRelated" >
            select b.*
            from (select rownum rn, a.*
                      from    (select *
                               from tbl_item
                               <include refid="selectCondition"></include>
                               order by item_no desc) a ) b
            where b.rn > (#{page} - 1) * 8
            <![CDATA[
            and   b.rn <= (#{page} * 8)
            ]]>
	</select>	
	<select id="selectItemRelated" >
		select 	*
		from		tbl_item
		where 	line_no between (
                    select  floor(line_no / 100) * 100
                    from    tbl_item
                    where   item_no = #{itemNO}     
                ) and (
                    select  (floor(line_no / 100) + 1) * 100
                    from    tbl_item
                    where   item_no = #{itemNO}             
                )
		and			is_disabled = 0
    <![CDATA[
    and rownum <= 4					
    ]]>        
	</select>	


	<sql id="selectCondition">
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
			item_name like '%' || #{keyword} || '%'
			</when>
			<otherwise>
			1 = 1
			</otherwise>
		</choose>
		and			is_disabled = 0
	</sql>

	<!-- select id="selectListPaging" parameterType="int"-->
	<select id="selectListPaging" parameterType="co.rny.common.SearchVO">
            select b.*
            from (select rownum rn, a.*
                      from    (select *
                               from tbl_item
                               <include refid="selectCondition"></include>
                               order by item_no desc) a ) b
            where b.rn > (#{page} - 1) * 8
            <![CDATA[
            and   b.rn <= (#{page} * 8)
            ]]>
  </select>

	<!-- 페이징 계산용 전체 건수. -->
	<select id="selectTotalCount" parameterType="co.rny.common.SearchVO">
		select count(1)	
		from tbl_item
    <include refid="selectCondition"></include>
  </select>
  
  
  
	<sql id="selectConditionAll">
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
			item_name like '%' || #{keyword} || '%'
			</when>
			<otherwise>
			1 = 1
			</otherwise>
		</choose>
	</sql>

	<!-- select id="selectListPaging" parameterType="int"-->
	<select id="selectListPagingAll" parameterType="co.rny.common.SearchVO">
            select b.*
            from (select rownum rn, a.*
                      from    (select *
                               from tbl_item
                               <include refid="selectConditionAll"></include>
                               order by item_no desc) a ) b
            where b.rn > (#{page} - 1) * 8
            <![CDATA[
            and   b.rn <= (#{page} * 8)
            ]]>
  </select>

	<!-- 페이징 계산용 전체 건수. -->
	<select id="selectTotalCountAll" parameterType="co.rny.common.SearchVO">
		select count(1)	
		from tbl_item
    <include refid="selectCondition"></include>
  </select>
  
	<select id="selectTotalCountLine" parameterType="co.rny.common.SearchVO">
		select 	count(1)	
		from		tbl_item    i
		join    tbl_line    l
		on      i.line_no = l.line_no
		where   (l.line_no = #{lineNo} OR l.line_parent_no = #{lineNo})
		and			i.is_disabled = 0
		and			l.is_disabled = 0
		order by i.line_no
  </select>


<update id="updateItem" parameterType="co.rny.vo.ItemVO">
  UPDATE tbl_item
  <set>
    <if test="lineNo != null">
      line_no = #{lineNo},
    </if>
    <if test="itemCode != null">
      item_code = #{itemCode},
    </if>
    <if test="itemName != null">
      item_name = #{itemName},
    </if>
    <if test="itemDesc != null">
      item_desc = #{itemDesc},
    </if>
    <if test="itemPrice != null">
      item_price = #{itemPrice},
    </if>
    <if test="itemStock != null">
      item_stock = #{itemStock},
    </if>
    <if test="itemImage != null">
      item_image = #{itemImage},
    </if>
    updated_date = SYSDATE
  </set>
  WHERE item_no = #{itemNo}
</update>

<update id="updateItemDisabled" parameterType="co.rny.vo.ItemVO">
  UPDATE 	tbl_item
  SET
      		is_disabled = 1,
    			disabled_date = SYSDATE
  WHERE 	item_no = #{itemNo}
</update>

<update id="updateItemEnabled" parameterType="co.rny.vo.ItemVO">
  UPDATE 	tbl_item
  SET
      		is_disabled = 0,
    			disabled_date = null,
    			updated_date = SYSDATE
  WHERE 	item_no = #{itemNo}
</update>
	
</mapper>