<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 검색 -->
	<mapper namespace="co.rny.mapper.MemberMapper">
	<sql id="selrctCondition">
		where
		<choose>
			<when test="searchCondition == 'N'.toString()">
				user_name like '%'||#{keyword}||'%'
			</when>
			<when test="searchCondition == 'K'.toString()">
				user_nick like '%'||#{keyword}||'%'
			</when>
			<when test="searchCondition == 'P'.toString()">
				user_phone like '%'||#{keyword}||'%'
			</when>
			<otherwise> 1 = 1 </otherwise>
		</choose>
	</sql>

	<!-- 회원목록조회 -->
	<select id="selectList" resultType="co.rny.vo.MemberVO">
		SELECT *
    FROM  rny_member
    ORDER BY user_no
	</select>
	
	<update id="updateList" >
		UPDATE rny_member
		SET user_pw = #{userPw},
    user_nick = #{userNick},
    user_birth = #{userBirth},
    user_phone = #{userPhone},
    user_email = #{userEmail}
		WHERE user_no = #{userNo}
	</update>
	
	<!-- 주소록목록조회 -->
	<select id="selectAddress" resultType="co.rny.vo.AddressVO">
		SELECT *
    FROM  rny_address
    where user_no = #{userNo}
	</select>
	
	
		<select id="selectListPaging" resultType="co.rny.vo.MemberVO" parameterType="int">
		select b.*
    from (select rownum rn, a.*
          from (SELECT *
                FROM  rny_member
                <include refid="selrctCondition"></include>
                ORDER BY user_no) a ) b
    where b.rn > (#{page} - 1 ) * 15
    <![CDATA[
    and   b.rn <= (#{page} * 15)
    ]]>
	</select>

	<!-- user_no기준 회원상세조회 -->
	<select id="userinfo" resultType="co.rny.vo.MemberVO">
		select *
		from rny_member
		where
		user_no = #{userNo}
	</select>

	<select id="usernick" resultType="String">
		select user_nick
		from rny_member
		where user_id = #{id}
	</select>
	
	<select id="username" resultType="String">
		select user_name
		from rny_member
		where user_id = #{id}
	</select>
    
	<select id="userCheck" resultType="String">
		select user_no
		from rny_member
		where user_id = #{id}
	</select>
	

	<!-- 로그인 -->

	<select id="selectMember" resultType="co.rny.vo.MemberVO">
		select *
		from rny_member
		where user_id = #{id}
		and user_pw = #{pw}
	</select>

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="co.rny.vo.MemberVO">
		insert into rny_member
		(user_no, user_id, user_pw, user_name, user_nick, user_birth,
		user_email, user_phone, user_add)
		values('A' || seq_member.nextval,
		#{userId}, #{userPw}, #{userName}, #{userNick}, #{userBirth},
		#{userEmail}, #{userPhone}, #{userAdd})
	</insert>
	
	<!-- 주소록등록 -->
	<insert id="insertAddress" parameterType="co.rny.vo.AddressVO">
		insert into rny_address
		(user_no, add_name, recipient, add_phone, new_address)
		values(#{userNo}, #{addName}, #{recipient}, #{addPhone}, #{newAddress})
	</insert>

	<!-- 회원가입(ID중복체크) -->
	<select id="selectId" resultType="int">
		SELECT COUNT(*)
		FROM rny_member
		WHERE user_id = #{id}
	</select>

	<select id="selectEmail" resultType="int">
		SELECT COUNT(*)
		FROM
		rny_member
		WHERE user_email = #{email}
	</select>

	<!-- 페이징 계산용 전체건수 -->
	<select id="selectTotalCount">
		select count(1)
		from rny_member
		<include refid="selrctCondition"></include>
	</select>
	

	
</mapper>