<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.OrderMapper">

  <!-- 주문 추가 -->
    <insert id="insertOrder" parameterType="co.rny.vo.OrderVO">
        INSERT INTO tbl_order (
            order_no,
            user_no,
            order_price,
            address_no,
            delivery_price,
            order_date,
            delivery_date,
            cancel_date
        ) VALUES (
            order_seq.NEXTVAL, <!-- 주문번호는 시퀀스에서 생성 -->
            #{userNo},
            #{orderPrice},
            #{addressNo},
            #{deliveryPrice},
            #{orderDate},
            #{deliveryDate},
            #{cancelDate}
        )
    </insert>

    <!-- 주문 상세 추가 -->
    <insert id="insertOrderDetail" parameterType="co.rny.vo.OrderVO">
        INSERT INTO tbl_order_detail (
            od_no,
            order_no,
            item_no,
            od_price,
            od_cnt
        ) VALUES (
            od_detail_seq.NEXTVAL, <!-- 주문상세번호는 시퀀스에서 생성 -->
            #{orderNo},
            #{itemNo},
            #{odPrice},
            #{odCnt}
        )
    </insert>

    <!-- 주문 조회 -->
    <select id="selectOrderByNo" parameterType="int" resultType="co.rny.vo.OrderVO">
        SELECT * FROM tbl_order WHERE order_no = #{orderNo}
    </select>

    <!-- 주문 상세 조회 -->
    <select id="selectOrderDetailsByOrderNo" parameterType="int" resultType="co.rny.vo.OrderVO">
        SELECT * FROM tbl_order_detail WHERE order_no = #{orderNo}
    </select>

    <!-- 모든 주문 조회 -->
    <select id="selectAllOrders" resultType="co.rny.vo.OrderVO">
        SELECT * FROM tbl_order
    </select>

    <!-- 주문 삭제 -->
    <delete id="deleteOrder" parameterType="int">
        DELETE FROM tbl_order WHERE order_no = #{orderNo}
    </delete>
    
</mapper>
