<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.OrderMapper">

<select id="buy" resultType="co.rny.vo.OrderVO">
	select *
	from tbl_order
	</select>
	
	<select id="orderList" resultType="co.rny.vo.OrderVO">
	select *
	from tbl_order o JOIN rny_member m
	ON o.user_no = m.user_no
	JOIN tbl_item i
	ON o.item_no = i.item_no
	where user_id = #{id}
	</select>

</mapper>