<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.QnaListMapper"> <!--클래스 -->
	<select id="qnaList" parameterType="co.rny.vo.QnaListVO">
		select *
		from tbl_QNA
	</select>
</mapper>