<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.rny.mapper.QnaReplyMapper"> <!--클래스 -->

	<insert id="qnareply" parameterType="co.rny.vo.QnaReplyVO">
		<selectKey keyProperty="qreplyNum" resultType="int" order="BEFORE">
			select reply_seq.nextval from dual
		</selectKey>
		insert into tbl_qnareply (user_id, qna_num, qreply_num, qreply_content,
		qreply_date)
		values
		(#{userId},#{qnaNum},#{qreplyNum},#{qreplyContent},#{qreplyDate})
	</insert>
		
	<select id="qreplyList" parameterType="int"
		resultType="co.rny.vo.QnaReplyVO">
		select *
		from tbl_qnareply
		where qna_num= #{qnaNum}
		order by qreply_num
	</select>
	
	<delete id="deleteReply" parameterType="int">
		delete from tbl_qnareply
		where qreply_num = #{qreplyNum}
	</delete>
	
	
</mapper>